*{
    box-sizing: border-box;
}
body{
    background-image: url("../images/Images.png");
    background-repeat: no-repeat;
    background-size: 100% 640px;
    transition: .3s ease-in-out;
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif ;
    font-family: 'Oswald' , sans-serif;
}

img{
    object-fit: cover;
}

@media only screen and(max-width:1151px){
    body{
        background-size: 100% 757px;
    }

}
@media only screen and(max-width:653px){
    body{
        background-size: 100% 859px;
    }

}
@media only screen and(max-width:483px){
    body{
        background-size: 100% 857px;
    }
}
@media only screen and(max-width:445px){
    body{
        background-size: 100% 970px;
    }
}
@media only screen and(max-width:401px){
    body{
        background-size: 100% 1069px;
    }
}